
.card {
  width: 270;
  margin: 25;
  text-align: 'left';
  
}

.cardImage {
  width: 200;
}

.card:hover {
  top: -2px;
  -webkit-box-shadow: -1px 9px 20px -12px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 9px 20px -12px rgba(0,0,0,0.5);
  box-shadow:  -1px 9px 20px -12px rgba(0,0,0,0.5);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.content {
  margin: '15px auto';
  width: 1250;
}

@media screen {
  div.divPrintHeader {
    display: none;
  }
}
